<section class="best-features-area section-padd4">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-xl-8 col-lg-10">
        <div class="row">
          <div class="col-lg-10 col-md-10">
            <div class="section-tittle">
              <h2>Les 24 forces de caractères à connaître et développer</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="single-features mb-70">
              <div class="features-icon">
                <span class="flaticon-support"></span>
              </div>
              <div class="features-caption">
                <h3>Une prédisposition à penser, ressentir et agir de façon authentique et
                  énergisante</h3>
                <p> entraînant nos meilleures performances. Nous gagnons 100 fois
                  plus à les cultiver plutôt que de corriger nos défauts.</p>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="single-features mb-70">
              <div class="features-icon">
                <span class="flaticon-support"></span>
              </div>
              <div class="features-caption">
                <h3>Régroupés en 6 grandes "vertus"</h3>
                <p> intellectuelle (sagesse), relationnelle (humanité), émotionnelle (courage et
                  volonté), citoyenne (justice) et spirituelle (Transcendance)</p>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="single-features mb-70">
              <div class="features-icon">
                <span class="flaticon-support"></span>
              </div>
              <div class="features-caption">
                <h3>Un "Savoir-être"</h3>
                <p> Les "forces de caractère" ne sont pas des talents, des compétences ou des
                  savoir-faire</p>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="single-features mb-70">
              <div class="features-icon">
                <span class="flaticon-support"></span>
              </div>
              <div class="features-caption">
                <h3>24 forces "positives"</h3>
                <p>Chacune peut contribuer au bien de la personne et de son entourage, et c'est
                  pourquoi elle est une "force". </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<section class="service-area sky-blue section-padding2">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6">
        <div class="section-tittle text-center">
          <h2>Comment pouvons-nous vous aider<br>avec MoodTracker!</h2>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
        <div class="services-caption text-center mb-30">
          <div class="service-icon">
            <span class="flaticon-businessman"></span>
          <div class="service-cap">
            <h4><a href="#">Classification simple</a></h4>
            <p>Vous définissez vos propres catégories simplement.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="services-caption active text-center mb-30">
          <div class="service-icon">
            <span class="flaticon-pay"></span>
          </div>
            <h4><a href="#">Ludique</a></h4>
            <div class="service-cap">
            <p>L'interface est un chat. Vous avez l'impression de parler à votre conscience. Elle
              vous répond déjà dans votre tête, alors donnez lui un moyen pour conserver ce
              qu'elle ressent.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="services-caption text-center mb-30">
          <div class="service-icon">
            <span class="flaticon-plane"></span>
          </div>
          <div class="service-cap">
            <h4><a href="#">Utilisation rapide</a></h4>
            <p>L'interface permettra un envoie rapide de vos sentiments.</p>
          </div>
        </div>
      </div>
  </div>
</section>

<div class="available-app-area">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-xl-5 col-lg-6">
        <div class="app-caption">
          <div class="section-tittle section-tittle3">
            <h2>Notre application sera bientôt disponible sur n'importe quelle plateforme !</h2>
            <p>Grâce à la technologie PWA, notre application sera disponible sur iOS, Android, et
              sur un navigateur quelconque !</p>

          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="app-img">
          <img src="assets/img/shape/available-app.webp" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="app-shape">
    <img src="assets/img/shape/app-shape-top.png" alt="" class="app-shape-top heartbeat d-none d-lg-block">
    <img src="assets/img/shape/app-shape-left.png" alt="" class="app-shape-left d-none d-xl-block">
  </div>
</div>
