<div class="wrapper-posts" cdkDropListGroup>
  <div class="flexDisplay example-container">
    <div cdkDropList [cdkDropListData]="demonPosts" cdkDropListSortingDisabled (cdkDropListDropped)="drop($event)"
      class="example-list column">
      <div class="example-box" *ngFor="let demonPost of demonPosts">
        {{demonPost.text}}
      </div>
    </div>
    <div cdkDropList [cdkDropListData]="angePosts" cdkDropListSortingDisabled (cdkDropListDropped)="drop($event)"
      class="example-list column">
      <div class="example-box" *ngFor="let angePost of angePosts">
        {{angePost.text}}
      </div>
    </div>
  </div>

  <div cdkDrag [innerHTML]="post.text" class="message-to-send example-box"></div>

</div>

<div class="wrapper">
  <div *ngIf="post" class="form-post">
    <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;">
      <div style="display: flex;justify-content: center; align-items: center; width: 100%;">
        <img src="../../assets/img/brakmar.png" width="180" style=" position: relative; top: 55px;">
        <img src="../../assets/img/bonta.png" width="200" style=" position: relative; top: 65px;">
      </div>
      <div style="width: 100%;">
        <button class="btn-demon" style="width:50%" mat-flat-button (click)="addDemonPost()">Demon</button>
        <button class="btn-ange" style="width:50%" mat-flat-button (click)="addAngePost()">Ange</button>
      </div>
    </div>

    <mat-form-field class="password-field" appearance="outline">
      <mat-label>Message</mat-label>
      <input matInput type="text" (keyup)="$event.keyCode == 13 && addPost()" placeholder="Message"
        [(ngModel)]="post.text">
    </mat-form-field>



  </div>
</div>
