<div class="wrapper">
  <div class="img" [style.backgroundImage]="this.ratioAngels < this.ratioDemons ? 'url(../../../../assets/img/demon.png)'
: 'url(../../../../assets/img/ange.png)'">
  </div>
  <div class="wrapper-box">
    <div class="box ange" [style.z-index]="this.ratioAngels > this.ratioDemons ? '2' : '1'">
      <h3> Affinité bienveillantes </h3>
      <p> Vous avez été {{ this.ratioAngels | number : '1.2-2' }} % ange. </p>
    </div>
    <div class="box demon" [style.z-index]="this.ratioAngels < this.ratioDemons ? '2' : '1'">
      <h3> Affinité diaboliques </h3>
      <p>Vous avez été {{ this.ratioDemons | number : '1.2-2' }} % démon. </p>
    </div>
  </div>
</div>
