    div.wrapper-login {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        div.form {
            button {
                width: 100%;
            }
        }
    }