div.wrapper-register {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  div.form {

    button,
    a {
      width: 95%;
      margin: 10px;
    }
  }
}
